$green-1: #39dd21;

$grey-1: #f8f9fa;
$grey-2: #f1f3f5;
$grey-3: #eaedef;
$grey-4: #dee2e6;
$grey-5: #cfd4da;
$grey-6: #adb5bd;
$grey-7: #868e96;
$grey-8: #495057;
$grey-9: #343a40;
$grey-10: #21252a;

$red-1: #ff0000;

$white-1: #fff;
