@import "./colors.scss";

$gigantic: 4rem;
$huge: 2.5rem;
$larger: 2rem;
$large: 1.5rem;
$normal: 1rem;
$small: 0.75rem;

$gigantic-line-height: 4rem;
$huge-line-height: 2.5rem;
$larger-line-height: 2.25rem;
$large-line-height: 2rem;
$normal-line-height: 1.5rem;
$small-line-height: 1rem;

%mono-font {
  font-family: 'Courier New', Courier, monospace;
}

%accent-font {
  font-family: "Roboto Slab", serif;
}

%main-font {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

@mixin font-normal {
  @extend %main-font;
  font-size: $normal;
  line-height: $normal-line-height;
}

@mixin font-mono {
  @extend %mono-font;  
}
