@import "../../sass-mixins/mixins.scss";

.guild-info-small {
  display: inline-flex;
  flex-direction: row;
  padding: 0.5rem 1rem;
  width: 26.25rem;

  @media (max-width: $narrow-screen-breakpoint) {
    padding: 0.5rem 0;
    width: 20.5rem;
  }

  &:hover {
    background-color: $grey-8;
    cursor: pointer;
  }

  .gained-value {
    color: $green-1;
  }

  .loss-value {
    color: $red-1;
  }

  .banner-container {
    padding-right: 0.25rem;
    width: 4rem;

    > img {
      width: 4rem;
    }
  }

  .info-container {
    text-align: left;
    width: 13.75rem;

    @media (max-width: $narrow-screen-breakpoint) {
      width: 10rem;
    }

    .name {
      font-size: $large;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      @media (max-width: $narrow-screen-breakpoint) {
        font-size: $normal;
      }
    }

    .server {
      font-size: $small;
    }
  }

  .rank-container {
    text-align: center;
    width: 3.75rem;

    @media (max-width: $narrow-screen-breakpoint) {
      width: 3rem;
    }

    .rank {
      font-size: $large;

      @media (max-width: $narrow-screen-breakpoint) {
        font-size: $normal;
      }
    }

    .rank-diff {
      @media (max-width: $narrow-screen-breakpoint) {
        font-size: $small;
      }

      > * {
        display: inline-block;
        vertical-align: middle;
      }

      .rank-gain,
      .rank-loss {
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        height: 0;
        margin-right: 0.25rem;
        width: 0;

        @media (max-width: $narrow-screen-breakpoint) {
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
        }
      }

      .rank-gain {
        border-bottom: 14px solid $green-1;

        @media (max-width: $narrow-screen-breakpoint) {
          border-bottom: 10px solid $green-1;
        }
      }

      .rank-loss {
        border-top: 14px solid $red-1;

        @media (max-width: $narrow-screen-breakpoint) {
          border-top: 10px solid $red-1;
        }
      }
    }
  }

  .rating-container {
    text-align: right;
    width: 4.5rem;

    @media (max-width: $narrow-screen-breakpoint) {
      width: 3.25rem;
    }

    .rating {
      font-size: $large;

      @media (max-width: $narrow-screen-breakpoint) {
        font-size: $normal;
      }
    }

    .rating-diff {
      @media (max-width: $narrow-screen-breakpoint) {
        font-size: $small;
      }
    }
  }
}
