@import "./sass-mixins/mixins.scss";

#elo-app {
  min-height: 100vh;

  .loading-image {
    border-radius: 10rem;
    display: block;
    height: 40vmin;
    margin: 5rem auto;
    pointer-events: none;

    @media (prefers-reduced-motion: no-preference) {
      animation: logo-spin infinite 20s linear;
    }
  }

  #main-content-container {
    box-sizing: border-box;
    height: calc(100% - #{$site-header-height});
    overflow: auto;
    padding: calc(2rem + #{$site-header-height}) 1rem;
    width: 100%;

    @media (max-width: $narrow-screen-breakpoint) {
      padding: calc(2rem + #{$site-header-height}) 0;
    }
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
